
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000;
    height: 100px; 
}

.logo-container {
    position: absolute;
    right: 30px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.orange {
    height: 80px;
    left: -110px;  
    position: relative;  
  }
  
.africId{
position: absolute;
  top: 10px; 
  left: -1300px; 
  width: 150px;
  height: auto;

}