.custom-stepper-container {
    max-width: 1400px; /* Réduction légère de la largeur */
    width: 90%; /* Ajuste pour s'adapter aux écrans */
    margin: 5px auto; /* Réduction du margin */
    padding: 6px; /* Réduction de l'espace intérieur */
    transform: scale(0.95); /* Réduit légèrement tout le composant */
}

.custom-stepper {
    margin-top: 140px;
    margin-bottom: 12px;
    transform: scale(0.95); /* Réduction légère de la taille globale */
}

.step-label {
    font-size: 12px; /* Réduction légère de la taille du texte */
}

.step-content {
    margin-top: 30px;
    margin-bottom: 12px;
}

.button-next {
    margin-right: 15px;
    height: 34px; 
    padding: 4px 10px;
    font-size: 13px;
}
