.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .footer p {
    color: #6c757d;
  }
  
  .footer strong {
    color: #343a40;
  }
  